  body{
    padding:0;
    margin:0;
    width: calc(100vw);
    min-height: 100vh;
    max-height: 100vh;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(12,  1fr);
    grid-gap: 1rem;
    counter-reset: div;
  }

  .grid-center{
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
  }

  .grid-baseline{
    justify-items: baseline;
    justify-content: space-evenly;
    align-items: baseline;
  }
  
  .col-1 {
    grid-column: auto/span 1;
  }
  
  .col-2 {
    grid-column: auto/span 2;
  }
  
  .col-3 {
    grid-column: auto/span 3;
  }
  
  .col-4 {
    grid-column: auto/span 4;
  }
  
  .col-5 {
    grid-column: auto/span 5;
  }
  
  .col-6 {
    grid-column: auto/span 6;
  }
  
  .col-7 {
    grid-column: auto/span 7;
  }
  
  .col-8 {
    grid-column: auto/span 8;
  }
  
  .col-9 {
    grid-column: auto/span 9;
  }
  
  .col-10 {
    grid-column: auto/span 10;
  }
  
  .col-11 {
    grid-column: auto/span 11;
  }
  
  .col-12 {
    grid-column: auto/span 12;
  }
  
  .image{
    max-width: 600px;
    width: 100%;
  }

  #main-layout-content{
    z-index: 20;
  }

  #layout-main-container{
    min-height: 100vh;
  }