@import "https://use.typekit.net/sas2rsl.css";
@import "https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap";
@import "./animations.css";
@import "https://unpkg.com/pattern.css";

body {
    font-family: Rubik, sans-serif;
	font-size: 24px;
	line-height: inherit;
  
	background-color: #3B625C;
    color: #F9BCBF;
    overflow-x: hidden !important;
}

header a {
    margin: 0;
}

header img.image-logo{
    max-height: 80px;
}

#version{
    vertical-align:middle;
    background-size:contain; 
    background-repeat:no-repeat;
    background-position:center;
    min-height:50px;
    padding:25px;
    animation:rotate 1s infinite;
    margin: 0;
}

#workflow-element-description ul{
    border-left: 2px solid #3B625C;
    font-family: Rubik;
    font-size: 18px !important;
    color: #3B625C;
    letter-spacing: 0.65px;
    line-height: 24px;
    list-style: none;
    padding-inline-start: 16px;
    transition: all linear 0.5;
}

#workflow-navigation li{
    float: left;
    list-style: none;
    margin-left: 25px;
    letter-spacing: 1.5px;
    font-family: Rubik;
    color: #3B625C;
    text-align: center;
}

#workflow-navigation li.selected{
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #3B625C;
    font-family: Lust;
    color: #3B625C;
    text-decoration: none;
}

#workflow-navigation ul li:before {
    content: url('../images/arrow_right.svg');
    margin-right: 25px;
}

#workflow-navigation ul li:first-child::before {
    content: '';
}

#workflow-navigation ul li:nth-child(2)::before {
    content: '';
}

#workflow-elements{
    transition: opacity linear .2s;
}


h1.workflow-over-title{
    text-align: left;
    width: 100%;
    font-family: Rubik;
    font-weight: lighter;
    font-size: 87px;
    color: #3B625C;
    letter-spacing: 2.36px;
    text-transform: uppercase;
    border-bottom: 4px solid #3b625c;
    margin-bottom: 0;
}

h1.workflow-title{
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    width: 100%;
    padding-top: 36px;
    font-family: Lust;
    font-size: 149px;
    line-height: 123px;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #3B625C;
    color: rgba(59, 98, 92, 1)
}


.mix-blend-exclusion{
    mix-blend-mode: exclusion;
}

.color-green{
    color:#3B625C !important;
}

.color-pink{
    color:#F9BCBF !important;
}

.font-stroke-green{
    -webkit-text-stroke-color: #3B625C!important;
}

.font-stroke-pink{
    -webkit-text-stroke-color: #F9BCBF!important;
}

.background-green{
    background-color: #3B625C !important;
}

.background-pink{
    background-color:#F9BCBF !important;
}

.border-top-pink-h1{
    border-top: 4px solid #F9BCBF!important;
}

.border-top-green-h1{
    border-top: 4px solid #3B625C!important;
}

.border-left-pink-h1{
    border-left: 2px solid #F9BCBF!important;
}

.border-left-green-h1{
    border-left: 2px solid #3B625C!important;
}

#workflow-navigation li.selected.font-stroke-pink{
    -webkit-text-stroke-color: #F9BCBF!important;
}

#workflow-navigation li.selected.font-stroke-green{
    -webkit-text-stroke-color: #3B625C!important;
}

.font-rubik{
    font-family: Rubik;
}

.font-lust{
    font-family: Lust;
}

.no-decoration{
    text-decoration: none;
}

.ball{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    mix-blend-mode: exclusion;
    transition: width ease-out .25s, height ease-out .25s;
    pointer-events: none;
    overflow: hidden !important;
}

#ball-text{
    text-align: center;
    vertical-align: middle;
    mix-blend-mode: exclusion;
    height: 50px;
    width: 150px;
    padding: 100px 50px 100px 50px;
    opacity: 0;
    transition: all .1s linear;
    pointer-events: none;
    overflow: hidden !important;
}

.workflow-element-title{
    font-size: 10vw;
    margin: 0;
    font-family: Lust;
    text-align: center;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #3B625C;
    color: rgba(59, 98, 92, 0.5)
}